.main_component{
    /* border: 0.01rem solid black; */
    border-radius: 5px;
    height: 3rem;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.674) 8px 12px 29px;
}
.input_box{
    outline: none;
    height: 2.5rem;
    width: 25rem;
    font-size: 1rem;
    font-weight:500;
    color: white;
    background-color: transparent;
    border: 0rem solid black;
}
.search_icon{
    color: black;
    border-radius: 50%;
    font-size: 1.7rem;
    cursor: pointer;
}
.error{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(85, 85, 166, 0.546) , black);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}